<!doctype html>
<html>

<head>
    <title> Login </title>
</head>

<body>
    <p>
        <a href="/"> Home</a> | <a href="/register"> Register</a> | <a href="/login"> Login</a>
    </p>

    <h2> Login </h2>
    <form action="/login" method="POST">
        <label for='username'>Username</label>
        <input type="text" name="username" id="username" value="">
        <label for='password'>Password</label>
        <input type="password" name="password" id="password" value="">
        <input type="submit" value="Login">
    </form>
    <div>
        {% if msg != '' %}
        Username: {{msg[0]}} <br />
        Status: {{msg[1]}}
        {% endif %}
    </div>

</body>


</html>